<h1 style="text-align: center">Student listing page</h1>
<table>
  <thead>
  <tr>
    <th colspan="1">Name</th>
    <th>Email</th>
    <th colspan="3">Action</th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do|student| %>
    <tr>
      <td><%= student.detail.Name %></td>
      <td><%= student.email %></td>
      <td><%= link_to 'show', student_path(student) %></td>
      <% if admin_signed_in? %>
      <td> <%=button_to 'delete', student, method: :delete, data: {confirm: "Are you sure?" }%> </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

